//@import "./utils/adaptiv-value.scss";
//@include adaptiv-value("font-size", 24, 20, 1);

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
    background-color: inherit !important;
    color: inherit !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    color: inherit !important;
}

